* {
	padding: 0;
	margin: 0;
}

body {
	box-sizing: border-box;
	font-size: 1rem;
	font-family: 'Trebuchet MS', 'Arial', sans-serif;
	position: relative;
}

ul {
	list-style-type: none;
}

nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1rem 2rem;
	/*background-color: rgba(230, 253, 233, 1.0);*/
	background: lightgreen;
	color: rgba(0, 0, 0, 1.0);
	box-shadow: 0px 0px 1px;
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	z-index: 2;
}

nav h3 {
	font-size: 1.5rem;
}
main {
	margin-top: 80px;
}
.left-nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	min-width: 400px;
	min-width: 60%;
}
.left-nav .search-items {
	min-width: 70%;
	display: flex;
	align-items: center;
}
.left-nav input {
	padding: 0.5rem;
	outline: none;
	margin-right: 1rem;
	min-width: 70%;
}

.left-nav button {
	margin-left: 1rem;
	width: 25%;
}

.btn {
	padding: 0.7rem;
	outline: none;
	border: none;
	cursor: pointer;
	font-weight: 700;
}

.btn:hover {
	opacity: 0.8;
}

.btn-search {
	background-color: white;
	box-shadow: 0px 0px 3px;
	border-radius: 5px;
}

.cart {
	display: flex;
	align-items: center;
	padding: 0.5rem;
	position: relative;
	cursor: pointer;
}

.cart img {
	margin: 0 0.5rem;
	width: 24px;
	height: 24px;
}

.cart-items {
	display: block;
	color: rgba(0, 0, 0, 0.8);
	background-color: rgba(250, 253, 233, 1.0);
	border: 1px solid black;
	width: 15px;
	height: 15px;
	text-align: center;
	border-radius: 50%;
	position: absolute;
	font-size: 0.8rem;
	font-weight: bold;
	top: 3px;
	left: 28px;
	z-index: 2;
}

main {
	display: grid;
	grid: "side-items main-items main-items main-items main-items" 
		  "side-items main-items main-items main-items main-items"
		  "side-items main-items main-items main-items main-items";
	grid-gap: 1rem;
	padding: 1rem;
}

.side-items { grid-area: side-items; }
.main-items { grid-area: main-items; }

.side-items {
	padding: 1rem;
	/*background-color: rgba(230, 253, 233, 1.0);*/
	background: lightgreen;
}
.side-items h4 {
	padding: 1rem 0;
	font-size: 1.5rem;
}
.side-items li {
	padding: 0.5rem;
	margin: 2px 0;
	font-size: 1.0rem;
	font-weight: lighter;
	cursor: pointer;
}
.side-items li:hover {
	opacity: 0.8;
	transform: scale(1.01);
	transform: translateX(0.5rem);
}
.active {
	background-color: rgba(255, 255, 255, 1.0);
	border-right: 3px solid black;
	border-radius: 5px;
	border-left: 1px solid;
	border-top: 1px solid;
	border-bottom: 1px solid;
}

.main-items {
	border: 1px solid rgba(0, 0, 0, 0.2);
	padding: 1rem;
	display: flex;
	flex-direction: column;
}

.sort-items {
	text-align: right;
	font-size: 1.2rem;
}
.sort-items select {
	padding: 0.5rem;
	outline: none;
	font-size: 1rem;
}
.line {
	width: 100%;
	height: 1px;
	background: black;
	margin: 0.5rem 0;
}

.items {
	display: grid;
	grid-gap: 10px;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	/*grid-auto-rows: 350px;*/
}

.item img {
	width: 25%;
	height: 25%;
}

.image {
	display: flex;
	align-items:  center;
	justify-content: center;
	padding: 0.5rem 0;
}

.item-x {
	padding: 0.5rem;
	display: flex;
	align-items:  center;
	justify-content: space-between;
}

.item-x p:first-of-type {
	font-weight: bold;
}

.item-x p:last-of-type {
	width: 160px;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	padding-left: 10px;
}

.item {
	border: 1px solid rgba(0, 0, 0, 0.2);
	border-radius: 10px;
	background: rgba(255, 255, 255, 1);
	cursor: pointer;
}

.item:hover {
	transform: scale(1.02);
	box-shadow: 0px 0px 2px;
}

.btn-cart {
	width: 100%;
	background-color: lightgreen;
	border-radius: 5px;
	/*display: none;*/
	visibility: hidden;
}

.results {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0.5rem;
}

.results-num {
	padding: 0.2rem;
}

#popup {
	position: absolute;
	width: 100%;
	height: 100%;
	content: '';
	top: 0;
	left: 0;
	background-color: rgba(23, 255, 23, 0.3);
	z-index: 2;
	display: none;
} 

.cart-popup {
	position: fixed;
	margin: auto;
	width: 420px;
	padding: 0.5rem;
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
	display: none;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 2;
	background-color: #fff;
}

.cart-popup h3 {
	text-align: center;
	padding: 0.5rem;
}
.cart-header {
	font-weight: 700;
}

.cart-header, .cart-body, .footer-total {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr min-content;
	grid-gap: 10px;
	place-items: center;
	margin: 0.5rem 0;
	padding: 0.5rem 0;
}

.btns {
	display: flex;
	justify-content: center;
	align-items: center;
}

.cart-qty {
	width: 50px;
	text-align: center;
}

.btn-close {
	position: absolute;
	top: 0.5rem;
	right: 0.5rem;
	font-weight: bold;
	background: darkred;
	font-size: 16px;
	color: #fff;
}

.btn-remove {
	background: darkred;
	color: white;
}

.total-title {
	font-weight: bold;
	padding: 0.5rem 0;
}

/*.footer-total {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0.5rem 0;
	padding: 0.5rem 0;
}*/

.btn-cart-checkout {
	width: 100%;
	background-color: lightgreen;
	border-radius: 5px;
}
.your-cart-items {
	min-height: 120px;
	max-height: 350px;
	overflow: auto;
}

.footer {
	text-align: center;
	background-color: lightgreen;
	padding: 1rem 0;
}